#nav-menu-principal{
  background-image: url(texture01-menu-principal.jpg);
  background-color: rgba(220,220,220,0.7);
  background-repeat: repeat;
}
#ul-menu-principal{
  list-style-type: none;
}
.li-menu-principal{
  display: inline-block;
  border: 2px solid black;
  min-width: 100px;
  min-height: 25px;
  text-align: center;
  padding: 5px;
}
.a-menu-principal{
  color: rgb(20,20,20);
  text-decoration: none;
}
