<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/css-index.css"> <!-- put the directory since the project00 folder -->
  </head>
  <body>
    <header>
      <nav id="nav-menu-principal">
        <ul id="ul-menu-principal">
          <li class="li-menu-principal"><a href=" {{ url_for('index') }} " class="a-menu-principal">O projeto</a></li>
          <li class="li-menu-principal"><a href=" {{ url_for('quemsomosnos') }} " class="a-menu-principal">Quem somos nós</a></li>
          <li class="li-menu-principal"><a href=" {{ url_for('baixe') }} " class="a-menu-principal">Baixe</a></li>
          <li class="li-menu-principal"><a href=" {{ url_for('colabore') }} " class="a-menu-principal">Colabore</a></li>
          <li class="li-menu-principal"><a href=" {{ url_for('nossahistoria') }} " class="a-menu-principal">Nossa história</a></li>
          <li class="li-menu-principal"><a href=" {{ url_for('equipe') }} " class="a-menu-principal">Equipe</a></li>
          <li class="li-menu-principal"><a href=" {{ url_for('contato') }} " class="a-menu-principal">Contato</a></li>
        </ul>
      <nav>
    <header>
    <section id="sec-escopo">
      {% block body %}
      {% endblock %}
    </section>
    <footer>
    </footer>
  </body>
</html>
